In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import re
import math

In [3]:
key = pd.read_csv('key_english.csv')

In [4]:
cr = pd.read_csv('crossrefs.txt',sep=' ')

In [5]:
cr.head()

      From      Verse
0  Gen.1.1  Isa.65.17
1  Gen.1.1    Ps.33.6
2  Gen.1.1   Job.38.4
3  Gen.1.1  Rev.22.13
4  Gen.1.1   Rev.10.6

In [6]:
key.head()

   field      field.1 field.2  field.3
0      1      Genesis      OT        1
1      2       Exodus      OT        1
2      3    Leviticus      OT        1
3      4      Numbers      OT        1
4      5  Deuteronomy      OT        1

In [7]:
#cr['fromch'] = cr['From'].replace(to_replace="(\d|\.)", value="", regex=True)
#cr['versech'] = cr['Verse'].replace(to_replace="(\d|\.)", value="", regex=True)
cr['frombk'] = cr['From'].str.extract(r'(\d?\w+)',expand=False)
cr['versebk'] = cr['Verse'].str.extract(r'(\d?\w+)',expand=False)

In [8]:
cr['fnums'] = cr['From'].str.extract(r'(\.\d{1,3}\.\d{1,3})',expand=False)
cr['vnums'] = cr['Verse'].str.extract(r'(\.\d{1,3}\.\d{1,3})',expand=False)

In [9]:
#cr['From'].apply(lambda x: x.split('.'))

In [10]:
cr.head(20)

       From                Verse frombk versebk fnums    vnums
0   Gen.1.1            Isa.65.17    Gen     Isa  .1.1   .65.17
1   Gen.1.1              Ps.33.6    Gen      Ps  .1.1    .33.6
2   Gen.1.1             Job.38.4    Gen     Job  .1.1    .38.4
3   Gen.1.1            Rev.22.13    Gen     Rev  .1.1   .22.13
4   Gen.1.1             Rev.10.6    Gen     Rev  .1.1    .10.6
5   Gen.1.1             Ps.136.5    Gen      Ps  .1.1   .136.5
6   Gen.1.1           Acts.17.24    Gen    Acts  .1.1   .17.24
7   Gen.1.1            Isa.45.18    Gen     Isa  .1.1   .45.18
8   Gen.1.1           Acts.14.15    Gen    Acts  .1.1   .14.15
9   Gen.1.1             Rev.14.7    Gen     Rev  .1.1    .14.7
10  Gen.1.1             2Pet.3.5    Gen    2Pet  .1.1     .3.5
11  Gen.1.1            Eccl.12.1    Gen    Eccl  .1.1    .12.1
12  Gen.1.1            Ps.104.24    Gen      Ps  .1.1  .104.24
13  Gen.1.1              Heb.3.4    Gen     Heb  .1.1     .3.4
14  Gen.1.1  Prov.8.22-Prov.8.30    Gen    Prov  .1.1    .8.22
15  Gen.1.1           Matt.11.25    Gen    Matt  .1.1   .11.25
16  Gen.1.1           Mark.13.19    Gen    Mark  .1.1   .13.19
17  Gen.1.1             1Cor.8.6    Gen    1Cor  .1.1     .8.6
18  Gen.1.1            Ps.115.15    Gen      Ps  .1.1  .115.15
19  Gen.1.1             Ps.121.2    Gen      Ps  .1.1   .121.2

In [11]:
abvlist = pd.unique(cr['frombk'])

In [12]:
idlist = [i for i,el in enumerate(pd.unique(cr['versebk']))]

In [13]:
abvlist

array(['Gen', 'Exod', 'Lev', 'Num', 'Deut', 'Josh', 'Judg', 'Ruth',
       '1Sam', '2Sam', '1Kgs', '2Kgs', '1Chr', '2Chr', 'Ezra', 'Neh',
       'Esth', 'Job', 'Ps', 'Prov', 'Eccl', 'Song', 'Isa', 'Jer', 'Lam',
       'Ezek', 'Dan', 'Hos', 'Joel', 'Amos', 'Obad', 'Jonah', 'Mic',
       'Nah', 'Hab', 'Zeph', 'Hag', 'Zech', 'Mal', 'Matt', 'Mark', 'Luke',
       'John', 'Acts', 'Rom', '1Cor', '2Cor', 'Gal', 'Eph', 'Phil', 'Col',
       '1Thess', '2Thess', '1Tim', '2Tim', 'Titus', 'Phlm', 'Heb', 'Jas',
       '1Pet', '2Pet', '1John', '2John', '3John', 'Jude', 'Rev'],
      dtype=object)

In [14]:
key['abv'] = [i for i in abvlist]

In [15]:
key.head()

   field      field.1 field.2  field.3   abv
0      1      Genesis      OT        1   Gen
1      2       Exodus      OT        1  Exod
2      3    Leviticus      OT        1   Lev
3      4      Numbers      OT        1   Num
4      5  Deuteronomy      OT        1  Deut

In [16]:
def match_abv(d):
    l = []
    #for j in cr['versech']:
    for j in d:
        for i,el in enumerate(key['abv']):
            if el == j:
                l.append(i+1)
    return l

In [17]:
cr['v_bk_id']= match_abv(cr['versebk'])

In [18]:
cr['f_bk_id']= match_abv(cr['frombk'])

In [19]:
cr.head()

      From      Verse frombk versebk fnums   vnums  v_bk_id  f_bk_id
0  Gen.1.1  Isa.65.17    Gen     Isa  .1.1  .65.17       23        1
1  Gen.1.1    Ps.33.6    Gen      Ps  .1.1   .33.6       19        1
2  Gen.1.1   Job.38.4    Gen     Job  .1.1   .38.4       18        1
3  Gen.1.1  Rev.22.13    Gen     Rev  .1.1  .22.13       66        1
4  Gen.1.1   Rev.10.6    Gen     Rev  .1.1   .10.6       66        1

In [20]:
df = pd.read_csv('t_asv.csv')

In [21]:
df['id'] = df['field'].apply('{:>08d}'.format)

In [22]:
df.head()

,field,field.1,field.2,field.3,field.4,id
0,1001001,1,1,1,In the beginning God created the heavens and t...,01001001
1,1001002,1,1,2,And the earth was waste and void; and darkness...,01001002
2,1001003,1,1,3,"And God said, Let there be light: and there wa...",01001003
3,1001004,1,1,4,"And God saw the light, that it was good: and G...",01001004
4,1001005,1,1,5,"And God called the light Day, and the darkness...",01001005

In [23]:
vchnum = cr['vnums'].apply(lambda x: x.split('.'))
fchnum = cr['fnums'].apply(lambda x: x.split('.'))

In [24]:
for i,el in enumerate(vchnum):
    el[0] = cr['v_bk_id'][i]

In [25]:
for i,el in enumerate(fchnum):
    el[0] = cr['f_bk_id'][i]

In [26]:
for i,el in enumerate(vchnum):
    for j,jel in enumerate(el):
        vchnum[i][j] = '{:>03d}'.format(int(jel))

In [27]:
for i,el in enumerate(fchnum):
    for j,jel in enumerate(el):
        fchnum[i][j] = '{:>03d}'.format(int(jel))

In [28]:
vchnum

0         [023, 065, 017]
1         [019, 033, 006]
2         [018, 038, 004]
3         [066, 022, 013]
4         [066, 010, 006]
5         [019, 136, 005]
6         [044, 017, 024]
7         [023, 045, 018]
8         [044, 014, 015]
9         [066, 014, 007]
10        [061, 003, 005]
11        [021, 012, 001]
12        [019, 104, 024]
13        [058, 003, 004]
14        [020, 008, 022]
15        [040, 011, 025]
16        [041, 013, 019]
17        [046, 008, 006]
18        [019, 115, 015]
19        [019, 121, 002]
20        [024, 032, 017]
21        [020, 003, 019]
22        [019, 104, 030]
23        [019, 134, 003]
24        [019, 146, 006]
25        [002, 020, 011]
26        [024, 051, 015]
27        [043, 001, 001]
28        [023, 051, 016]
29        [020, 016, 004]
               ...
343579    [066, 002, 007]
343580    [042, 011, 052]
343581    [066, 003, 004]
343582    [066, 022, 002]
343583    [066, 021, 022]
343584    [005, 004, 002]
343585    [002, 032, 033]
343586    [066, 013, 008]
343587    [066, 002, 017]
343588    [066, 003, 012]
343589    [066, 002, 011]
343590    [066, 022, 012]
343591    [066, 003, 021]
343592    [066, 022, 018]
343593    [058, 009, 028]
343594    [066, 022, 010]
343595    [023, 025, 009]
343596    [066, 022, 007]
343597    [066, 022, 012]
343598    [043, 021, 025]
343599    [066, 001, 002]
343600    [022, 008, 014]
343601    [046, 016, 022]
343602    [061, 003, 012]
343603    [066, 001, 018]
343604    [055, 004, 008]
343605    [045, 016, 020]
343606    [053, 003, 018]
343607    [049, 006, 023]
343608    [047, 013, 014]
Name: vnums, Length: 343609, dtype: object

In [29]:
vchnum = [int((''.join(map(str,x)))) for x in vchnum]

In [30]:
fchnum = [int((''.join(map(str,x)))) for x in fchnum]

In [31]:
fchnum

[1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001001,
 1001002,
 1001002,
 1001002,
 1001003,
 1001003,
 1001003,
 1001003,
 1001003,
 1001003,
 1001003,
 1001003,
 1001003,
 1001003,
 1001003,
 1001003,
 1001003,
 1001003,
 1001003,
 1001003,
 1001003,
 1001003,
 1001004,
 1001004,
 1001004,
 1001004,
 1001004,
 1001004,
 1001004,
 1001005,
 1001005,
 1001005,
 1001005,
 1001005,
 1001005,
 1001005,
 1001005,
 1001005,
 1001005,
 1001005,
 1001005,
 1001005,
 1001005,
 1001006,
 1001006,
 1001006,
 1001006,
 1001006,
 1001006,
 1001006,
 1001006,
 1001006,
 1001006,
 1001006,
 1001006,
 1001006,
 1001006,
 1001006,
 1001006,
 1001006,
 1001006,
 1001006,
 1001006,
 1001007,
 1001007,
 1001007,
 1001007,
 1001007,
 1001007,
 1001007,
 1001007,
 1001007,
 1001007,
 1001008,
 1001008,
 1001009,
 1001009,
 1001009,
 1001009,
 1001009,
 1001009,
 1001009,
 1001009,
 1001009,
 1001009,
 1001009,
 1001009,
 1001009,
 1001009,
 1001009,
 1001011,
 1001011,
 1001011,
 1001011,
 1001011,
 1001011,
 1001011,
 1001011,
 1001011,
 1001011,
 1001011,
 1001011,
 1001011,
 1001011,
 1001011,
 1001011,
 1001011,
 1001012,
 1001012,
 1001012,
 1001012,
 1001012,
 1001012,
 1001012,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001014,
 1001016,
 1001016,
 1001016,
 1001016,
 1001016,
 1001016,
 1001016,
 1001016,
 1001016,
 1001016,
 1001016,
 1001016,
 1001016,
 1001016,
 1001016,
 1001016,
 1001016,
 1001016,
 1001016,
 1001016,
 1001017,
 1001017,
 1001017,
 1001017,
 1001017,
 1001018,
 1001018,
 1001020,
 1001020,
 1001020,
 1001020,
 1001020,
 1001020,
 1001020,
 1001020,
 1001021,
 1001021,
 1001021,
 1001021,
 1001021,
 1001021,
 1001021,
 1001021,
 1001021,
 1001021,
 1001021,
 1001021,
 1001021,
 1001021,
 1001021,
 1001021,
 1001021,
 1001022,
 1001022,
 1001022,
 1001022,
 1001022,
 1001022,
 1001022,
 1001022,
 1001022,
 1001022,
 1001022,
 1001022,
 1001022,
 1001022,
 1001024,
 1001024,
 1001024,
 1001024,
 1001024,
 1001024,
 1001024,
 1001024,
 1001024,
 1001024,
 1001024,
 1001024,
 1001024,
 1001025,
 1001025,
 1001025,
 1001025,
 1001026,
 1001026,
 1001026,
 1001026,
 1001026,
 1001026,
 1001026,
 1001026,
 1001026,
 1001026,
 1001026,
 1001026,
 1001026,
 1001026,
 1001026,
 1001026,
 1001026,
 1001026,
 1001026,
 1001026,
 1001026,
 1001026,
 1001026,
 1001026,
 1001026,
 1001026,
 1001027,
 1001027,
 1001027,
 1001027,
 1001027,
 1001027,
 1001027,
 1001027,
 1001027,
 1001027,
 1001027,
 1001027,
 1001028,
 1001028,
 1001028,
 1001028,
 1001028,
 1001028,
 1001028,
 1001028,
 1001028,
 1001028,
 1001028,
 1001028,
 1001028,
 1001028,
 1001028,
 1001028,
 1001028,
 1001028,
 1001028,
 1001028,
 1001028,
 1001028,
 1001029,
 1001029,
 1001029,
 1001029,
 1001029,
 1001029,
 1001029,
 1001029,
 1001029,
 1001029,
 1001029,
 1001029,
 1001029,
 1001029,
 1001029,
 1001029,
 1001029,
 1001029,
 1001029,
 1001029,
 1001030,
 1001030,
 1001030,
 1001030,
 1001030,
 1001030,
 1001030,
 1001030,
 1001030,
 1001030,
 1001031,
 1001031,
 1001031,
 1001031,
 1001031,
 1001031,
 1001031,
 1001031,
 1001031,
 1001031,
 1001031,
 1001031,
 1001031,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002001,
 1002002,
 1002002,
 1002002,
 1002002,
 1002002,
 1002002,
 1002002,
 1002002,
 1002003,
 1002003,
 1002003,
 1002003,
 1002003,
 1002003,
 1002003,
 1002003,
 1002003,
 1002003,
 1002003,
 1002003,
 1002003,
 1002003,
 1002003,
 1002003,
 1002003,
 1002003,
 1002003,
 1002004,
 1002004,
 1002004,
 1002004,
 1002004,
 1002004,
 1002004,
 1002004,
 1002004,
 1002004,
 1002004,
 1002004,
 1002004,
 1002004,
 1002004,
 1002004,
 1002004,
 1002004,
 1002004,
 1002004,
 1002004,
 1002004,
 1002004,
 1002004,
 1002005,
 1002005,
 1002005,
 1002005,
 1002005,
 1002005,
 1002005,
 1002005,
 1002005,
 1002005,
 1002005,
 1002005,
 1002007,
 1002007,
 1002007,
 1002007,
 1002007,
 1002007,
 1002007,
 1002007,
 1002007,
 1002007,
 1002007,
 1002007,
 1002007,
 1002007,
 1002007,
 1002007,
 1002007,
 1002007,
 1002007,
 1002007,
 1002007,
 1002007,
 1002007,
 1002007,
 1002007,
 1002007,
 1002007,
 1002008,
 1002008,
 1002008,
 1002008,
 1002008,
 1002008,
 1002008,
 1002008,
 1002008,
 1002008,
 1002008,
 1002009,
 1002009,
 1002009,
 1002009,
 1002009,
 1002009,
 1002009,
 1002009,
 1002009,
 1002009,
 1002009,
 1002009,
 1002009,
 1002009,
 1002009,
 1002009,
 1002010,
 1002010,
 1002011,
 1002011,
 1002011,
 1002011,
 1002012,
 1002012,
 1002012,
 1002012,
 1002012,
 1002013,
 1002013,
 1002014,
 1002014,
 1002014,
 1002014,
 1002014,
 1002014,
 1002014,
 1002014,
 1002015,
 1002015,
 1002015,
 1002015,
 1002016,
 1002016,
 1002016,
 1002016,
 1002016,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002017,
 1002018,
 1002018,
 1002018,
 1002018,
 1002018,
 1002018,
 1002018,
 1002018,
 1002018,
 1002019,
 1002019,
 1002019,
 1002019,
 1002019,
 1002019,
 1002020,
 1002021,
 1002021,
 1002021,
 1002021,
 1002021,
 1002021,
 1002022,
 1002022,
 1002022,
 1002022,
 1002022,
 1002022,
 1002022,
 1002023,
 1002023,
 1002023,
 1002023,
 1002023,
 1002023,
 1002024,
 1002024,
 1002024,
 1002024,
 1002024,
 1002024,
 1002024,
 1002024,
 1002024,
 1002025,
 1002025,
 1002025,
 1002025,
 1002025,
 1002025,
 1002025,
 1002025,
 1002025,
 1002025,
 1002025,
 1002025,
 1002025,
 1002025,
 1002025,
 1003001,
 1003001,
 1003001,
 1003001,
 1003001,
 1003001,
 1003001,
 1003001,
 1003001,
 1003001,
 1003001,
 1003001,
 1003001,
 1003002,
 1003003,
 1003003,
 1003003,
 1003003,
 1003003,
 1003003,
 1003003,
 1003003,
 1003003,
 1003003,
 1003004,
 1003004,
 1003004,
 1003004,
 1003004,
 1003004,
 1003004,
 1003004,
 1003004,
 1003004,
 1003004,
 1003005,
 1003005,
 1003005,
 1003005,
 1003005,
 1003005,
 1003005,
 1003005,
 1003005,
 1003005,
 1003005,
 1003005,
 1003005,
 1003005,
 1003005,
 1003005,
 1003005,
 1003005,
 1003005,
 1003005,
 1003005,
 1003005,
 1003005,
 1003005,
 1003005,
 1003005,
 1003005,
 1003005,
 1003006,
 1003006,
 1003006,
 1003006,
 1003006,
 1003006,
 1003006,
 1003006,
 1003006,
 1003006,
 1003006,
 1003006,
 1003006,
 1003006,
 1003006,
 1003006,
 1003006,
 1003007,
 1003007,
 1003007,
 1003007,
 1003007,
 1003007,
 1003007,
 1003007,
 1003008,
 1003008,
 1003008,
 1003008,
 1003008,
 1003008,
 1003008,
 1003008,
 1003008,
 1003008,
 1003008,
 1003008,
 1003008,
 1003008,
 1003008,
 1003008,
 1003009,
 1003009,
 1003009,
 1003009,
 1003009,
 1003009,
 1003010,
 1003010,
 1003010,
 1003010,
 1003010,
 1003010,
 1003010,
 1003010,
 1003010,
 1003010,
 1003010,
 1003010,
 1003011,
 1003011,
 1003011,
 1003012,
 1003012,
 1003012,
 1003012,
 1003012,
 1003012,
 1003012,
 1003012,
 1003012,
 1003012,
 1003012,
 1003013,
 1003013,
 1003013,
 1003013,
 1003013,
 1003013,
 1003013,
 1003013,
 1003013,
 1003014,
 1003014,
 1003014,
 1003014,
 1003014,
 1003014,
 1003014,
 1003014,
 1003014,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003015,
 1003016,
 1003016,
 1003016,
 1003016,
 1003016,
 1003016,
 1003016,
 1003016,
 1003016,
 1003016,
 1003016,
 1003016,
 1003016,
 1003016,
 1003016,
 1003016,
 1003016,
 1003016,
 1003016,
 1003016,
 1003016,
 1003016,
 1003016,
 1003016,
 1003016,
 1003016,
 1003016,
 1003016,
 1003017,
 1003017,
 1003017,
 1003017,
 1003017,
 1003017,
 1003017,
 1003017,
 1003017,
 1003017,
 1003017,
 1003017,
 1003017,
 1003017,
 1003017,
 1003017,
 1003017,
 1003017,
 1003017,
 1003017,
 1003017,
 1003017,
 1003017,
 1003017,
 1003017,
 1003018,
 1003018,
 1003018,
 1003018,
 1003018,
 1003018,
 1003018,
 1003018,
 1003018,
 1003018,
 1003018,
 1003018,
 1003018,
 1003018,
 1003018,
 1003018,
 1003018,
 1003019,
 1003019,
 1003019,
 1003019,
 1003019,
 1003019,
 1003019,
 1003019,
 1003019,
 1003019,
 1003019,
 1003019,
 1003019,
 1003019,
 1003019,
 1003019,
 1003019,
 1003019,
 1003019,
 1003019,
 1003019,
 1003019,
 1003019,
 1003019,
 1003019,
 1003020,
 1003020,
 1003020,
 1003020,
 1003020,
 1003020,
 1003020,
 1003020,
 1003020,
 1003020,
 1003020,
 1003021,
 1003021,
 1003021,
 1003021,
 1003021,
 1003022,
 1003022,
 1003022,
 1003022,
 1003022,
 1003022,
 ...]

In [32]:
cr['v_ids'] = vchnum
cr['f_ids'] = fchnum

In [33]:
cr.head()

,From,Verse,frombk,versebk,fnums,vnums,v_bk_id,f_bk_id,v_ids,f_ids
0,Gen.1.1,Isa.65.17,Gen,Isa,.1.1,.65.17,23,1,23065017,1001001
1,Gen.1.1,Ps.33.6,Gen,Ps,.1.1,.33.6,19,1,19033006,1001001
2,Gen.1.1,Job.38.4,Gen,Job,.1.1,.38.4,18,1,18038004,1001001
3,Gen.1.1,Rev.22.13,Gen,Rev,.1.1,.22.13,66,1,66022013,1001001
4,Gen.1.1,Rev.10.6,Gen,Rev,.1.1,.10.6,66,1,66010006,1001001

In [34]:
cr['v_ids'] = cr['v_ids'].apply('{:>08d}'.format)
cr['f_ids'] = cr['f_ids'].apply('{:>08d}'.format)

In [35]:
cr.head(40)

,From,Verse,frombk,versebk,fnums,vnums,v_bk_id,f_bk_id,v_ids,f_ids
0,Gen.1.1,Isa.65.17,Gen,Isa,.1.1,.65.17,23,1,23065017,01001001
1,Gen.1.1,Ps.33.6,Gen,Ps,.1.1,.33.6,19,1,19033006,01001001
2,Gen.1.1,Job.38.4,Gen,Job,.1.1,.38.4,18,1,18038004,01001001
3,Gen.1.1,Rev.22.13,Gen,Rev,.1.1,.22.13,66,1,66022013,01001001
4,Gen.1.1,Rev.10.6,Gen,Rev,.1.1,.10.6,66,1,66010006,01001001
5,Gen.1.1,Ps.136.5,Gen,Ps,.1.1,.136.5,19,1,19136005,01001001
6,Gen.1.1,Acts.17.24,Gen,Acts,.1.1,.17.24,44,1,44017024,01001001
7,Gen.1.1,Isa.45.18,Gen,Isa,.1.1,.45.18,23,1,23045018,01001001
8,Gen.1.1,Acts.14.15,Gen,Acts,.1.1,.14.15,44,1,44014015,01001001
9,Gen.1.1,Rev.14.7,Gen,Rev,.1.1,.14.7,66,1,66014007,01001001
10,Gen.1.1,2Pet.3.5,Gen,2Pet,.1.1,.3.5,61,1,61003005,01001001
11,Gen.1.1,Eccl.12.1,Gen,Eccl,.1.1,.12.1,21,1,21012001,01001001
12,Gen.1.1,Ps.104.24,Gen,Ps,.1.1,.104.24,19,1,19104024,01001001
13,Gen.1.1,Heb.3.4,Gen,Heb,.1.1,.3.4,58,1,58003004,01001001
14,Gen.1.1,Prov.8.22-Prov.8.30,Gen,Prov,.1.1,.8.22,20,1,20008022,01001001
15,Gen.1.1,Matt.11.25,Gen,Matt,.1.1,.11.25,40,1,40011025,01001001
16,Gen.1.1,Mark.13.19,Gen,Mark,.1.1,.13.19,41,1,41013019,01001001
17,Gen.1.1,1Cor.8.6,Gen,1Cor,.1.1,.8.6,46,1,46008006,01001001
18,Gen.1.1,Ps.115.15,Gen,Ps,.1.1,.115.15,19,1,19115015,01001001
19,Gen.1.1,Ps.121.2,Gen,Ps,.1.1,.121.2,19,1,19121002,01001001
20,Gen.1.1,Jer.32.17,Gen,Jer,.1.1,.32.17,24,1,24032017,01001001
21,Gen.1.1,Prov.3.19,Gen,Prov,.1.1,.3.19,20,1,20003019,01001001
22,Gen.1.1,Ps.104.30,Gen,Ps,.1.1,.104.30,19,1,19104030,01001001
23,Gen.1.1,Ps.134.3,Gen,Ps,.1.1,.134.3,19,1,19134003,01001001
24,Gen.1.1,Ps.146.6,Gen,Ps,.1.1,.146.6,19,1,19146006,01001001
25,Gen.1.1,Exod.20.11,Gen,Exod,.1.1,.20.11,2,1,02020011,01001001
26,Gen.1.1,Jer.51.15,Gen,Jer,.1.1,.51.15,24,1,24051015,01001001
27,Gen.1.1,John.1.1-John.1.3,Gen,John,.1.1,.1.1,43,1,43001001,01001001
28,Gen.1.1,Isa.51.16,Gen,Isa,.1.1,.51.16,23,1,23051016,01001001
29,Gen.1.1,Prov.16.4,Gen,Prov,.1.1,.16.4,20,1,20016004,01001001
30,Gen.1.1,Ps.96.5,Gen,Ps,.1.1,.96.5,19,1,19096005,01001001
31,Gen.1.1,Job.26.13,Gen,Job,.1.1,.26.13,18,1,18026013,01001001
32,Gen.1.1,Ps.33.9,Gen,Ps,.1.1,.33.9,19,1,19033009,01001001
33,Gen.1.1,Col.1.16-Col.1.17,Gen,Col,.1.1,.1.16,51,1,51001016,01001001
34,Gen.1.1,Neh.9.6,Gen,Neh,.1.1,.9.6,16,1,16009006,01001001
35,Gen.1.1,Acts.4.24,Gen,Acts,.1.1,.4.24,44,1,44004024,01001001
36,Gen.1.1,Zech.12.1,Gen,Zech,.1.1,.12.1,38,1,38012001,01001001
37,Gen.1.1,Rev.3.14,Gen,Rev,.1.1,.3.14,66,1,66003014,01001001
38,Gen.1.1,Ps.89.11-Ps.89.12,Gen,Ps,.1.1,.89.11,19,1,19089011,01001001
39,Gen.1.1,Rom.1.19-Rom.1.20,Gen,Rom,.1.1,.1.19,45,1,45001019,01001001

In [36]:
toex = pd.DataFrame(cr['f_ids'])

In [37]:
toex['v_ids'] = cr['v_ids']

In [38]:
toex

           f_ids     v_ids
0       01001001  23065017
1       01001001  19033006
2       01001001  18038004
3       01001001  66022013
4       01001001  66010006
5       01001001  19136005
6       01001001  44017024
7       01001001  23045018
8       01001001  44014015
9       01001001  66014007
10      01001001  61003005
11      01001001  21012001
12      01001001  19104024
13      01001001  58003004
14      01001001  20008022
15      01001001  40011025
16      01001001  41013019
17      01001001  46008006
18      01001001  19115015
19      01001001  19121002
20      01001001  24032017
21      01001001  20003019
22      01001001  19104030
23      01001001  19134003
24      01001001  19146006
25      01001001  02020011
26      01001001  24051015
27      01001001  43001001
28      01001001  23051016
29      01001001  20016004
...          ...       ...
343579  66022019  66002007
343580  66022019  42011052
343581  66022019  66003004
343582  66022019  66022002
343583  66022019  66021022
343584  66022019  05004002
343585  66022019  02032033
343586  66022019  66013008
343587  66022019  66002017
343588  66022019  66003012
343589  66022019  66002011
343590  66022019  66022012
343591  66022019  66003021
343592  66022020  66022018
343593  66022020  58009028
343594  66022020  66022010
343595  66022020  23025009
343596  66022020  66022007
343597  66022020  66022012
343598  66022020  43021025
343599  66022020  66001002
343600  66022020  22008014
343601  66022020  46016022
343602  66022020  61003012
343603  66022020  66001018
343604  66022020  55004008
343605  66022021  45016020
343606  66022021  53003018
343607  66022021  49006023
343608  66022021  47013014

[343609 rows x 2 columns]

In [39]:
toex.to_csv('crossref_ids.tsv',sep='\t')

In [49]:
gp = toex.groupby('f_ids')['v_ids'].apply(list)

In [51]:
gp.to_json('cr_ids.json')